<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="style.css">
    <title>Ressurser</title>
</head>
<body>
    <div id="center-box">
        <nav>
            <ul id="tabs">
                <!-- Knapper for hver kategori med tilhørende kategoridata -->
                <!-- 'data-category' inneholder kategorien tilhørende hver knapp. 
                      'data-category' brukes til å identifisere hvilken kategori av innhold 
                      som skal vises når knappen trykkes på. -->
                <li><button class="active" data-category="HTML">HTML</button></li>
                <li><button data-category="CSS">CSS</button></li>
                <li><button data-category="JavaScript">JavaScript</button></li>
                <li><button data-category="React">React</button></li>
                <li><button data-category="Sanity and headless CMS">Sanity and headless CMS</button></li>
            </ul>
        </nav>
        <div id="main-content">
            <h2>HTML</h2>
            <p>HTML står for HyperText Markup Language, og er et strukturspråk som brukes for å lage strukturer til nettside- og applikasjonsgrensesnitt.</p>
    
            <ul>
                <li><a href="https://www.w3schools.com/html/">W3Schools</a></li>
                <li><a href="https://html.spec.whatwg.org/multipage/">HTML Living standard</a></li>
                <li><a href="https://html.com/">HTML.com Tutorials</a></li>
            </ul>
        </div>
        
    </div>
    
    <script src="resourcechanger.js"></script>
    <script src="ressurser.js"></script>
</body>
</html>

<!-- Fikk inspirasjon fra dette: https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes -->